*{
    margin: 0;
    padding: 0;
}

html{
    background: url(https://picsum.photos/1920/1080/?blur=5);
    background-size: cover;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.clock{
    width: 300px;
    height: 300px;
    padding: 20px;
    border-radius: 100%;
    border: 3px solid #fff;
    box-shadow: 0 0 4px #000,
    inset 0 0 4px #000;
    position: relative;
}

.clock-face{
    position: relative;
    width: 100%;
    height: 100%;
}

.hand{
    background-color: black;
    margin-left: 10%;
    width: 40%;
    height: 5px;
    position: absolute;
    top: 50%;
    transform-origin: 100%;
    transform: rotate(90deg);
    transition: all 0.05s;
    transition-timing-function: cubic-bezier(0, 1.88, 1, 1);
}

/* ---- NUMEROS ---- */

.numbers{
    position: relative;
    width: 100%;
    height: 100%;
    font-size: 1.5em;
}

.doce{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-45%);
}

.doce::before{
    content: "";
    width: 3px;
    height: 60%;
    position: absolute;
    left: 10px;
    top: -15px;
    background-color: #000;
}

.tres{
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-45%);
}

.tres::before{
    content: "";
    width: 100%;
    height: 3px;
    position: absolute;
    right: -15px;
    top: 10px;
    background-color: #000;
}

.seis{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-45%);
}

.seis::after{
    content: "";
    width: 3px;
    height: 60%;
    position: absolute;
    left: 5px;
    bottom: -15px;
    background-color: #000;
}

.nueve{
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-45%);
}

.nueve::before{
    content: "";
    width: 100%;
    height: 3px;
    position: absolute;
    left: -15px;
    top: 10px;
    background-color: #000;
}